* {
    transform:scale(1);
}

.text {
    font-family: "Segoe UI", "Helvetica";
    font-size: 16px;
    padding: 20px;
    line-height:1.75rem;
    color: rgba(0,0,0,0.8);
    white-space: pre-wrap;
}

.entryFirstLine {
    display: flex;
}

.entryName, .entryDate {
    font-family: "Segoe UI", "Helvetica";
    font-weight: 500;
    margin: 10px;
    margin-top:5px;
    margin-bottom:10px;
    color:rgba(37, 93, 157, 0.6);
    height:50%;
}

.entryName {
    display: inline-flex;
}

.entryDate {
    float:left;
    display: inline-flex;
    position: absolute;
    right:0;
    transition: 0.3s all;
}

.entryTag {
    margin:0;
    font-family: "Segoe UI", "Helvetica";
    font-size:12px;
    margin-bottom:5px;
    margin-left:10px;
    background-color:rgb(0, 160, 100, 0.8);
    color:rgba(255,255,255,0.8);
    letter-spacing: 1px;
    border-radius:5px;
    padding:3px;
    padding-right: 5px;
    padding-left: 5px;
    display:inline-flex;
}

.icons {
    display: inline-flex;
    margin:0;
    margin-top:15px;
    color:rgba(0,0,0,0.6);
    cursor: pointer;
}

.icons:hover {
    color: rgba(37, 93, 157, 1);
}

@media only screen and (max-width:768px) {
    .entryFirstLine {
        display: block;
    }

    .entryName {
        display:block;
    }

    .entryDate {
        position: relative;
        width:100%;
        display:auto;
    }

    .entryTag {
        display : inline-flex;
    }

    .icons {
        margin: 10px;
        margin-right:0;
        margin-top:5px;
        margin-bottom:10px;
    }

    .delete {
        margin:0
    }
}