<div class="wrapper">
    <mat-toolbar class="navbar">
        <div class="left">
            <h2 class="logo" routerLink="/home">JOURN</h2>
        </div>

        <div class="center">
            <input *ngIf="this.router.url==='/home'" class="filter" placeholder="Search..."/>
        </div>

        <div class="right" (click)="toggleNavigationLinks()" *ngIf="router.url != '/login'">
            <div class="hamburger line1"></div>
            <div class="hamburger line2"></div>
            <div class="hamburger line3"></div>
        </div>
    </mat-toolbar>

    <div class="sideNav" *ngIf="router.url != '/login'">
        <ul class="navigationLinks">
            <li class="link" (click)="toggleNavigationLinks()" routerLink="/home">MY JOURNAL</li>
            <li class="link" (click)="toggleNavigationLinks()" routerLink="/new-entry">NEW ENTRY</li>
            <li class="link" (click)="toggleNavigationLinks()" routerLink="/settings">SETTINGS</li>
            <li class="link" (click)="toggleNavigationLinks()">ABOUT</li>
            <li class="link" (click)="toggleNavigationLinks()">LOGOUT</li>
        </ul>
    </div>
</div>